<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Results</title>
</head>
<body>
    <h1>Calculate Results:</h1>
    <p>First Number: <%= num1 %></p>
    <p>Second Number: <%= num2 %></p>
    <p>Operation: <%= operation %></p>
    <p>Result: <%= result %></p>
</body>
</html>
